body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /*background-color: #252323;*/
}
/*normalize*/
ul {
  padding: 0px !important;
}
/* linha escura no topo do site
====================================================*/
.cabeçalho {
  width: 100%;
  height: 60px;
  background-color: #252323;
}
.conteudos,
.centro,
.polaroid-main,
.patro-box,
.bottom-text {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
.logo {
  float: left;
  padding: 17px;
  width: 60%;
}
.redes_sociais ul li {
  margin-left: 22px;
  display: inline-block;
}
.redes_sociais {
  margin: 0px 17px 0px;
  width: 19%;
  float: right;
}
/* linha branca logo apos o cabeçalho
====================================================*/
.sub-cabeçalho {
  width: 100%;
  height: 85px;
  background-color: white;
  border-bottom: 3px solid #efefef;
}
.sub-conteudos {
  width: 980px;
  height: 85px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  border-bottom: 3px solid #efefef;
}
/*lista com os textos do hyperlink*/
.hyperlinks ul li {
  margin-right: 15px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid transparent;
  font-size: 12px;
  height: 48px;
}
.hyperlinks ul li:hover {
  border-bottom: 2px solid #00bac6;
}
.hyperlinks ul li:focus {
  border-bottom: 2px solid #00bac6;
}
/*lista com nomes do sub header*/
.hyperlinks ul li a {
  color: #8b8b8b;
  text-decoration: none;
}
/*cor sobre as letras do sub header*/
.hyperlinks ul li a:hover {
  color: #00bac6;
}
.hyperlinks ul li a:focus {
  color: #00bac6;
}
/*espaço reservado para os hyperlinks*/
.hyperlinks {
  float: left;
  width: 70%;
  padding: 17px 15px 15px 15px;
}
.caixa_pesquisa {
  margin-top: 22px;
  float: right;
}
.caixa_pesquisa input {
  background-image: url("../img/lupa_logo.png");
  background-repeat: no-repeat;
  background-position: 93%;
  border-color: #d6d6d6;
  border-style: double;
  border-width: 1px;
  height: 35px;
  width: 175px;
  padding: 0px 0px 0px 15px;
}
/* slide com passa a passa de UMA imagem
====================================================*/
.slide {
  height: 453px;
  width: 100%;
  margin: 0 auto;
  margin-top: -30px;
  float: left;
}
.slide div h1 {
  width: 100%;
  top: 31%;
  right: -11.8%;
  text-transform: uppercase;
  font-size: 38px;
}
.slide div p {
  width: 100%;
  bottom: 40%;
  right: -10.9%;
  font-size: 14px;
  line-height: 1.4;
  transform: scale(1, 1.1);
}
.text-slide {
  color: white;
  position: absolute;
  display: flex;
  text-align: center;
  z-index: 9;
  font-family: Arial, Helvetica, sans-serif;
}
.img-slide img {
  max-width: 100%;
  height: auto;
}
.slide button.slick-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 0px;
  z-index: 9;
}

.slide button.slick-prev {
  background-image: url("../img/arrow_prev.png");
  top: 39%;
  right: 84.8%;
  width: 25px;
  height: 51px;
}
.slide button.slick-next {
  background-image: url("../img/arrow_next.png");
  top: 39%;
  right: 13.2%;
  width: 25px;
  height: 51px;
}
.slide ul li button {
  background-color: transparent;
  /*background-image: url("../img/dots_slide_nao_selecionado.png");*/
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  border-width: 3px;
  font-size: 0px;
  width: 17px;
  height: 17px;
}
.slide ul li {
  display: inline-block;
  margin-left: 9px;
  z-index: 9;
  right: 50%;
}
.slide ul li button:focus {
  /*background-image: url("../img/dots_slide_selecionado.png");*/
  background-color: #00bac6;
}
.slide ul li button:hover {
  /*background-image: url("../img/dots_slide_selecionado.png");*/
  background-color: #00bac6;
}
.slide ul {
  z-index: 9;
  position: absolute;
  right: 45%;
  top: 87%;
}
/*===========================================================
                      texto do centro                         */
#conteudo {
  margin-top: 496px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#conteudo p#p-h2 {
  color: #818181;
  text-transform: uppercase;
  font-size: 24px;
}
#conteudo p#p-p {
  color: #9a9a9a;
  line-height: 1.4;
}
/*========================================================*/
/* texto com imagens logo apos o texto do centro */
/*========================================================*/
.pos-centro {
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  height: 355px;
  width: 980px;
}
.col-3 {
  display: inline-block;
  position: relative;
  float: left;
  width: 33.3%;
}
.text-centro {
  font-weight: normal;
  color: #848484;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.col-3 p {
  font-size: 14px;
}
.col-3 h3 {
  font-size: 20px;
}
.col-3 img {
  padding: 0px 0px 0px 100px;
}
#destaque {
  margin-top: 48px;
}
/*===========
polaroid
=============
*/
.polaroid {
  background-color: #eeeeee;
  margin: 0 auto;
  height: 670px;
  width: 100%;
}
.triangulo {
  width: 0;
  height: 0;
  margin-left: 45%;
  margin-bottom: -50px;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 100px solid #eeeeee;
}
.polaroid-text-1 {
  color: #848484;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 9;
  top: 211px;
  right: 655px;
  width: 310px;
}
.polaroid-text-2 {
  color: #848484;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 9;
  top: 211px;
  right: 325px;
  width: 310px;
}
.polaroid-text-3 {
  color: #848484;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 9;
  top: 211px;
  right: 0px;
  width: 310px;
}
.polaroid-text-4 {
  color: #848484;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 9;
  top: 550px;
  right: 655px;
  width: 310px;
}
.polaroid-text-5 {
  color: #848484;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 9;
  top: 550px;
  right: 325px;
  width: 310px;
}
.polaroid-text-6 {
  color: #848484;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 9;
  top: 550px;
  right: 0px;
  width: 310px;
}
.polaroid-main img {
  padding: 30px 0px;
  margin-right: 16px;
  position: relative;
  float: left;
  display: inline-block;
}
/*=============
logos no final
=============*/
.patro {
  width: 100%;
  height: 155px;
  background-color: white;
  display: inline-block;
}
.patro img {
  margin-top: 35px;
  padding: 0px 40px 0px 26px;
}
.fix-img {
  margin-bottom: 15px;
}

/*textos no final*/
.bottom {
  width: 100%;
  background-color: #53504b;
}
.bottom-text {
  font-family: Arial, Helvetica, sans-serif;
  height: 270px;
  display: -webkit-box;
}
.bottom-text h3 {
  color: white;
}
.bottom-text p {
  font-size: 13px;
  color: #c0c0c0;
}
.bottom-text p.timing-1 {
  position: absolute;
  top: 88px;
  right: 842px;
  color: #858585;
}
.border-1 {
  border-top: 1px solid #5c5c5c;
  padding-top: 9px;
}
.bottom-text p.timing-2 {
  position: absolute;
  top: 174px;
  right: 842px;
  color: #858585;
}
.bottom-text-1 {
  margin-right: 20px;
  width: 245px;
}
.bottom-text-2 {
  margin-right: 20px;
  width: 245px;
}
.bottom-text-2 strong {
  font-size: 19px;
}
.bottom-text-3 {
  margin-right: 20px;
  width: 245px;
}
.bottom-text-4 {
  width: 245px;
}
.texas {
  position: absolute;
  top: 123px;
  right: 101px;
}
.e-mail {
  position: absolute;
  top: 156px;
  right: 56px;
}
.fixx-2 {
  position: absolute;
  top: 204px;
  right: 170px;
}
.fixxx {
  position: absolute;
  top: 170px;
  right: 169px;
}
.tell {
  position: absolute;
  top: 191px;
  right: 56px;
}

.redes-bottom {
  font-family: Arial, Helvetica, sans-serif;
  height: 105px;
  width: 100%;
  margin-top: -18px;
  background-color: #242320;
}
.redes-bottom div {
  padding: 23px 0px 0px 187px;
  color: #acabab;
  width: 980px;
}
.redes-bottom p {
  width: 50%;
}
.redes-bottom ul {
  position: relative;
  top: -38px;
  right: -589px;
  width: 40%;
}
.redes-bottom ul li {
  float: right;
  display: inline-block;
  margin-right: 24px;
}

/*breackpoint para screen de smartphone*/
@media screen and (max-width: 768px) {
}
